# Computational Methods Workshop:  First Steps

John Stachurski

### Basic Maths

In [5]:
2 + 10

12

In [6]:
2 * 10

20

In [7]:
10**2

100

### Variables

In [8]:
x = 10
y = 2

In [12]:
x * y

20

In [13]:
x**y

100

In [14]:
z = x - y

In [15]:
z

8

### Built in Data Types

Data types matter for computers.

For example, 

* `1` and `2` are integers
* `1.0` and `2.5` are floating point numbers (floats)

The computational logic for adding two integers is different to the logic for adding two floats.

For this and other reasons, Python has to keep track of data types.

#### Primitive data types

In [16]:
x = 100
type(x)

int

In [19]:
x + x

200

In [17]:
y = 0.5
type(y)

float

In [20]:
y + y

1.0

In [21]:
x + y

100.5

In [22]:
x = "hello"
type(x)

str

In [23]:
y = " world"

What happens when we add two strings?

In [24]:
x + y

'hello world'

#### Container types

In [25]:
x = [1, 10, 2]  # Python list

In [27]:
type(x)

list

In [28]:
x

[1, 10, 2]

In [29]:
x[0]

1

We can mix primitive types inside a list

In [30]:
x[0] = "foobar"

In [31]:
x

['foobar', 10, 2]

Tuples are like lists but "immutable"

In [32]:
x = (1, 10, 2)  # Python tuple

In [33]:
x = 1, 10, 2  # Equivalent syntax

In [34]:
x[0]

1

In [35]:
x[0] = "foobar"  # Tuples are immutable

TypeError: 'tuple' object does not support item assignment

### For Loops

In [38]:
for i in range(5):
    print(i)

0
1
2
3
4

In [39]:
for i in range(2):
    print("foo")
    print("bar")
print("done")

foo
bar
foo
bar
done

Print $n$ times tables

In [40]:
n = 9
for i in range(12):
    print(i * n, end=", ")
    
print(n * 12)

0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108

### Logic and Control Flow

In [41]:
if 1 < 2:
    print("foo")

foo

In [42]:
if 1 > 2:
    print("foo")
else:
    print("bar")

bar

Testing equality:

In [70]:
x = 1
y = 2
x == y

False

In [71]:
y == y

True

### Functions

Python has some "built in" functions.

In [43]:
max(10, 100, -2)

100

In [44]:
min(10, 100, -2)

-2

In [45]:
print("foobar")

foobar

In [46]:
type("foobar")

str

We can also make our own  functions.

In [47]:
def f(x):
    """
    Returns 2 times the input.
    
    The input x is any variable such that `2 * x` is well defined.
    """
    y = 2 * x
    return y

In [48]:
f(3)

6

In [49]:
f(10)

20

In [50]:
f(0.5)

1.0

In [51]:
f?

### Everything's an Object!

In [52]:
x = ["foo", "bar"]

In [53]:
type(x)

list

Lists have list methods:

In [54]:
x.append("fish")

In [55]:
x

['foo', 'bar', 'fish']

In [56]:
x.pop()

'fish'

In [57]:
x

['foo', 'bar']

Now let's bind `x` to a string:

In [58]:
x = "foobar"

In [59]:
type(x)

str

Strings have string methods:

In [60]:
x.capitalize()

'Foobar'

In [61]:
x.upper()

'FOOBAR'

## Exercises

Solutions are below

#### Exercise 1

Write a `for` loop that prints the numbers `10, 9, 8, ..., 0`

#### Exercise 2

In [65]:
s = "foobarfoobarfoobarfoobarfoobarfoobar"

Use Python to the count the number of `o` in the string above.

#### Exercise 3

Use Python to sum the integers from 1 to 100.

In [66]:
for i in range(20):
    print("Solutions below!")

Solutions below!
Solutions below!
Solutions below!
Solutions below!
Solutions below!
Solutions below!
Solutions below!
Solutions below!
Solutions below!
Solutions below!
Solutions below!
Solutions below!
Solutions below!
Solutions below!
Solutions below!
Solutions below!
Solutions below!
Solutions below!
Solutions below!
Solutions below!

#### Solution to Ex 1

In [67]:
for i in range(11):
    print(10 - i, end=", ")

10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0,

Or here's a nicer one, that skips the final comma:

In [68]:
for i in range(11):
    if i < 10:
        ending = ", "
    else:
        ending = "\n"
    print(10 - i, end=ending)

10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0

#### Solution to Ex 2

Here's the simple way:

In [69]:
s.count('o')

12

Here's a harder way, but also nice:

In [75]:
counter = 0
for letter in s:
    if letter == 'o':
        counter += 1  # Same as counter = counter + 1
print(counter)

12

#### Solution to Ex 3

Here's the easy way:

In [76]:
sum(range(101))

5050

Here's another way that's longer but also nice:

In [77]:
counter = 0
for i in range(101):
    counter += i
print(counter)

5050